.footer{
  color: white;
  display: flex;
  width: 90vw;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 20px;
  left: 40px;
  border-top: 1px solid red;
  line-height: 80px;
}
.left-footer:hover{
  color: red;
  cursor: pointer;
}
.right-footer div:hover{
  color: red;
  cursor: pointer;
}
.right-footer{
  line-height: 30px;
}