
.ddlj-image{
  width: 100%;
  height: 70vh;
  margin: auto;
  display: flex;
  margin-top: 80px;
}
.main-section p{
  color: white;
  position: relative;
  top: 40px;
  left: 50px;
  font-size: 25px;
  cursor: pointer;
}
.main-section .main-section-name{
  color: white;
  cursor: pointer;
  font-size: 29px;
  font-weight: bold;
  position: relative;
  top: 30px;
  left: 500px;
}
.main-section .main-section-name:hover{
  color: red;
}
.TV-Show-main-section .main-section-name{
  position: relative;
  top: 70px;
  margin-bottom: 50px;
  
}
.main-section p:hover{
  color: red;
}

.movie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.movie-poster {
  max-width: 150px;
  max-height: 200px;
  border: 2px solid #FF5733;
  margin: 10px;
  padding: 5px;
}

.movie-info {
  text-align: center;
  color: white;
  padding: 10px;
}

.main-section div img{
  width: 170px;
  margin-top: 80px;
} 

.Nowplaying-movies{
  position: relative;
}



.Nowplaying-movies-poster,
.Popular-movies-poster,
.Top-rated-movies-poster,
.Upcoming-movies-poster,
.Nowplaying-tv-show-poster,
.Popular-tv-show-poster,
.Top-Rated-tv-show-poster,
.Upcoming-tv-show-poster{
  display: flex;
  position: relative;
  left: 40px;
  gap: 10px;
 
}

.poster-hidden {
  display: none;
}

.forward-button {
  margin-top: 10px;
  cursor: pointer;
  color: white;
  background-color: #FF5733;
  border: none;
  padding: 5px 10px;
}


.Popular-movies-poster img,
.Top-rated-movies-poster img,
.Upcoming-movies-poster img,
.Nowplaying-tv-show-poster img,
.Popular-tv-show-poster img,
.Top-Rated-tv-show-poster img,
.Upcoming-tv-show-poster img,
.Nowplaying-movies-poster img{ 
  border-radius: 8px;
 
}

.slide{
  display: none;
}

.Nowplaying-movies-poster a, 
.Nowplaying-movies-poster a{
  position: relative;
  top: 160px;
  left: 30px;
  font-size: 30px;
}

.arrow{
  position: absolute;
  top: 60%;
  color: black;
  background-color: rgba(255, 255, 255, 0.758);
  font-size: 28px;
  padding: 8px 19px;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
}
.next{
  right: 40px;
}
.prev{
  left: 50px;
}