
.ddlj-image{
  width: 100%;
  height: 70vh;
  margin: auto;
  display: flex;
  margin-top: 80px;
}
.main-section p{
  color: white;
  position: relative;
  top: 40px;
  left: 50px;
  font-size: 25px;
  cursor: pointer;
}
.main-section .main-section-name{
  color: white;
  cursor: pointer;
  font-size: 29px;
  font-weight: bold;
  position: relative;
  top: 30px;
  left: 500px;
}
.main-section .main-section-name:hover{
  color: red;
}
.TV-Show-main-section .main-section-name{
  position: relative;
  top: 70px;
  margin-bottom: 50px;
  
}
.main-section p:hover{
  color: red;
}
.main-section div img{
  width: 15%;
  margin-top: 80px;
}
