
.ddlj-image{
  width: 100%;
  height: 70vh;
  margin: auto;
  display: flex;
  margin-top: 80px;
}
.main-section p{
  color: white;
  position: relative;
  top: 40px;
  left: 50px;
  font-size: 25px;
  cursor: pointer;
}
.main-section p:hover{
  color: red;
}