.sidebar{
  height: 100%;
  width: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  
}
.sidebar a{
  text-decoration: none;
  color: rgb(59, 58, 58);
  display: flex;
  flex-direction: column;
  line-height: 30px;
  position: relative;
  top: 20px;
 
}
.sidebar a:hover{
  color: white;
}
.sidebar .Genre-sidebar{
  color: white;
  font-weight: bold;
}

.down-sidebar{
  margin-top: 12px;
  display: flex;
  flex-direction: column;
}
.down-sidebar-1{
  margin-top: 10px;
}

::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-track{
  background: #d1e5ff;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(#642bff, #ff22e6);
  border-radius: 10px;
}

