.Sub-footer{
  display: flex;
  align-items: center;
  width: 95vw;
  justify-content: space-around;
  margin-top: 130px;
}
.first-sub-footer,
.second-sub-footer,
.third-sub-footer{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.first-sub-footer a:hover,
.second-sub-footer a:hover,
.third-sub-footer a:hover,
.fourth-sub-footer a:hover{
  color: red;
}
.fourth-sub-footer{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.fourth-sub-footer a{
  position: relative;
  top: -15px;
  left: 40px;
}
.Facebook-image-icon{
  height: 30px;
  width: 30px;
}
.instagram-image-icon{
  height: 30px;
  width: 30px;
  margin-left: 20px;
}
.twitter-image-icon{
  height: 30px;
  width: 30px;
  margin-left: 20px;
}
